/* COLORS */

// primaries
$color-primary: #C7365F;
$color-background-secondary: #BF2E34;
$color-background-primary: #753682;

// light colors
$color-white: #FFFFFF;
$color-grey-light-2: #DDDDDD;
$color-grey-light-3: #444444;

// dark colors
$color-grey-dark-1: #333333;
$color-grey-dark-2: #2F2F2F;
$color-black: #000000;