@keyframes rollDiceSide1 {
  0% {
	transform: translateZ(-5rem) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  75% {
	transform: translateZ(-5rem) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
	transform: translateZ(-5rem) rotateX(0) rotateY(0) rotateZ(0);
  }
}

@keyframes rollDiceSide2 {
  0% {
	transform: translateZ(-5rem) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  75% {
	transform: translateZ(-5rem) rotateX(0) rotateY(-90deg) rotateZ(0);
  }
  100% {
	transform: translateZ(-5rem) rotateX(0) rotateY(-90deg) rotateZ(0);
  }
}

@keyframes rollDiceSide3 {
  0% {
	transform: translateZ(-5rem) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  75% {
	transform: translateZ(-5rem) rotateX(0) rotateY(-180deg) rotateZ(0);
  }
  100% {
	transform: translateZ(-5rem) rotateX(0) rotateY(-180deg) rotateZ(0);
  }
}

@keyframes rollDiceSide4 {
  0% {
	transform: translateZ(-5rem) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  75% {
	transform: translateZ(-5rem) rotateX(0) rotateY(90deg) rotateZ(0);
  }
  100% {
	transform: translateZ(-5rem) rotateX(0) rotateY(90deg) rotateZ(0);
  }
}

@keyframes rollDiceSide5 {
  0% {
	transform: translateZ(-5rem) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  
  75% {
	transform: translateZ(-5rem) rotateX(-90deg) rotateY(0) rotateZ(0);
  }
  
  100% {
	transform: translateZ(-5rem) rotateX(-90deg) rotateY(0) rotateZ(0);
  }
}

@keyframes rollDiceSide6 {
  0% {
	transform: translateZ(-5rem) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  75% {
	transform: translateZ(-5rem) rotateX(90deg) rotateY(0) rotateZ(0);
  }
  100% {
	transform: translateZ(-5rem) rotateX(90deg) rotateY(0) rotateZ(0);
  }
}