* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #333333;
  background-image: linear-gradient(to top left, $color-background-primary 0%, $color-background-secondary 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba($color-white, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba($color-black, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}