@keyframes rollDice {
  0% {
	transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  100% {
	transform: rotateX(0) rotateY(0) rotateZ(0);
  }
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: $color-grey-light-3;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background: rgba($color-white, 0.6);
  backdrop-filter: blur(10px);
  
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba($color-black, 0.1);
  
  &::first-letter {
	font-size: 2.4rem;
	display: inline-block;
	margin-right: 0.7rem;
  }
  
  &:active {
	transform: translate(-50%, 3px);
	box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }
  
  &:active ~ .dice-container .dice {
	
  }
  
  &:focus {
	outline: none;
  }
  
  &--new {
	top: 4rem;
  }
  
  &--roll {
	top: 39.3rem;
  }
  
  &--hold {
	top: 46.1rem;
  }
}

/* DICE */
.dice {
  position: relative;
  width: 10rem;
  height: 10rem;
  transform-style: preserve-3d;
  transform: translateZ(-5rem);
  transition: transform;
  outline: transparent;
  
  &__face {
	position: absolute;
	width: 10rem;
	height: 10rem;
	border: 2px solid $color-black;
	backface-visibility: hidden;
	
	&--1 {
	  transform: rotateY(0deg) translateZ(5rem);
	}
	
	&--2 {
	  transform: rotateY(90deg) translateZ(5rem);
	}
	
	&--3 {
	  transform: rotateY(180deg) translateZ(5rem);
	}
	
	&--4 {
	  transform: rotateY(-90deg) translateZ(5rem);
	}
	
	&--5 {
	  transform: rotateX(90deg) translateZ(5rem);
	}
	
	&--6 {
	  transform: rotateX(-90deg) translateZ(5rem);
	}
  }
  
  &.show-1 {
	transform: translateZ(-5rem) rotateY(0);
	animation: rollDiceSide1 1.5s ease-out;
	
  }

  &.show-2 {
	transform: translateZ(-5rem) rotateY(-90deg);
	animation: rollDiceSide2 1.5s ease-out;
	
  }

  &.show-3 {
	transform: translateZ(-5rem) rotateY(-180deg);
	animation: rollDiceSide3 1.5s ease-out;
	
  }

  &.show-4 {
	transform: translateZ(-5rem) rotateY(90deg);
	animation: rollDiceSide4 1.5s ease-out;
	
  }

  &.show-5 {
	transform: translateZ(-5rem) rotateX(-90deg);
	animation: rollDiceSide5 1.5s ease-out;
	
  }

  &.show-6 {
	transform: translateZ(-5rem) rotateX(90deg);
	animation: rollDiceSide6 1.5s ease-out;
  }
}

