main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba($color-white, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  
  &--active {
	background-color: rgba($color-white, 0.4);
	
	.name {
	  font-weight: 700;
	}
	
	.score {
	  font-weight: 400;
	}
	
	.current {
	  opacity: 1;
	}
  }
  
  &--winner {
	background-color: $color-grey-dark-2;
	
	.name {
	  font-weight: 700;
	  color: $color-primary;
	}
  }
}

.dice-container {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  perspective: 20rem;
}