@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}


.score {
  font-size: 8rem;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: auto;
}


.current {
  background-color: $color-primary;
  opacity: 0.8;
  border-radius: 9px;
  color: $color-white;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  
  &-label {
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-size: 1.7rem;
	color: $color-grey-light-2;
  }
  
  &-score {
	font-size: 3.5rem;
  }
}
